<div class="header-container">
  <div class="breadcrumb-wrapper">
    <i class="material-icons md-24">keyboard_backspace</i>
    <span class="breadcrumb-text">
      All projects
    </span>
  </div>
  <div class="dropdown-wrapper">
    <span class="dropdown-text">Supermassive black hole</span>
    <i class="material-icons md-24">expand_more</i>
  </div>
  <div class="action-items-wrapper">
    <i class="material-icons md-24 action-item">search</i>
    <i class="material-icons md-24 action-item">notifications_none</i>
  </div>
</div>
