<div class="left-nav-container">
  <div class="logo-icon">
    <span class="material-icons">
      fiber_manual_record
    </span>
  </div>
  <div class="left-nav-icon">
    <i class="icon-icomoon-home2"></i>
  </div>
  <div class="left-nav-icon active">
    <span class="material-icons">
      widgets
    </span>
  </div>
  <div class="left-nav-icon">
    <i class="icon-icomoon-schedule"></i>
  </div>
  <div class="left-nav-icon">
    <i class="icon-icomoon-bubble2"></i>
  </div>
  <div class="left-nav-icon">
    <i class="icon-icomoon-stopwatch"></i>
  </div>
  <div class="left-nav-icon">
    <i class="icon-icomoon-user-o"></i>
  </div>
  <div class="left-nav-icon">
    <i class="icon-icomoon-tools-2"></i>
  </div>
</div>
