.chip-container {
  height: fit-content;
  width: fit-content;
  border-radius: 3px;
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  padding: 3px 5px;
  .chip-icon,
  .chip-text {
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
  }
  .chip-text {
    padding-left: 2px;
  }
}
